:root{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d2d2d;
    color: white;
}
.main{
    display: flex;
    
    flex-direction: column;

}
h1{
    background: blue;
    margin: auto;
    color: rgb(216, 246, 133);
    width: fit-content;
    border-radius: 5px;
    padding: 10px 50px;
    margin-top: 100px;
    cursor: pointer;
}
#name_video{
    background-color: black;
    border: none;
    color: white;
    width: 300px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 30px auto auto auto;
}
.box{
    
    background-color: rgb(13, 13, 13);
    width: 600px;
    height: 100px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    border-top: 3px solid hsl(240, 100%, 50%);
    display: flex;

}
.start{
    width: 200px;
    height: 30px;
    background: rgb(93, 93, 194);
    margin: 30px 45px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    
}
.stop{
    width: 200px;
    height: 30px;
    background: rgb(140, 140, 220);
    margin: 30px 45px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;

}
p{
    background-color: black;
    color: rgb(206, 201, 201);
    margin: 20px auto auto auto;
    padding: 5px 10px;
}
